{% extends 'base.html' %}
{% block head_title %}IMD-SD{% endblock %}
{% load staticfiles %}
{% block header_index %}
<div class="jumbotron">
	<div class="imdindexlogo">
		<img src=" {% static "images/logo-white.png" %} " class="imdlogo">
        <img src=" {% static "images/design-print-web.png" %} " class="imdlogo">
    </div>
</div>
{% endblock %}
{% block title %}{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row color-red">
		<div class="col-md-5 col-lg-5 col-md-offset-1 col-sm-12 top-padding bottom-padding">
			<h1 class="oswald-medium border-bottom-dashed">ABOUT</h1>
			<p class="text-white">IMD is an agile team of artist, designers, developers, doers, go getters and overall awesome people. We love to build brands, take beautiful photos, construct unique websites and print amazing things with a passion for creating exceptional work for exceptional clients. We are the creators of creativity, the ones who build bridges and tear down walls, all in the pursuit of design immortality.</p>
		</div>
        <div class="col-lg-6 col-md-6 isais-pic">
        </div>
	</div>
    <div class="row">
        <div class="col-md-2 col-md-offset-1">
            <h1 class="border-bottom-dashed oswald-medium">Vehicle Wraps</h1>
            <p class="text-gray">A wrap is a large vinyl graphic or decal thats applied directly over the original paint of the vehicle. The application of the wrap allows you to change the vehicles appearance in a very short period of time and in turn allows you to remove the wrap, returning the vehicle back to its original condition if necessary.</p>
        </div>
        <div class="col-md-5">
            <h1 class="border-bottom-dashed oswald-medium">Protecting You Paint</h1>
            <p class="text-gray">Your vehicles will inevitably show the signs of clocking up miles on Britain’s motorways. By wrapping your vehicle you can not only enhance your brand, you can also protect your paintwork. We always use matching protective over-laminate with our vehicle wraps, which extends their life and look as well as protecting your paintwork from stone chips and minor abrasions.</p>
        </div>
    </div>
    <div class="row rick-pic">
    </div>
    <div class="row">
		<div class="col-md-12 brands">
			<img src="{% static "images/3m.png" %}" class="brands-used">
			<img src="{% static "images/oracal.png" %}" class="brands-used">
			<img src="{% static "images/hp.png" %}" class="brands-used">
			<img src="{% static "images/xerox.png" %}" class="brands-used">
			<img src="{% static "images/avery.png" %}" class="brands-used">
		</div>
	</div>
    <div class="row">
        
    </div>
		<!-- <div class="col-md-10 col-md-offset-1 col-sm-12">
			<h1>Portfolio</h1>
			{% if gallery %}
				
				<div id="lightbox">
					<ul>
					{% for gal in gallery %}
						<li>
							<div class="gallery-image-container">
								<img class="gallery-image" src="{{ gal.thumbnail.url }}" alt="{{ gal.name }}" data-large="{{ gal.image.url }}">
								<div class="image_title">
									<h5 class="title">{{ gal.name }}</h5>
								</div>
							</div>
						</li>
					{% endfor %}
					</ul>
				</div>
				
			{% endif %}
		</div> -->
		<div class="row sign-sec">
			<div class="col-md-10 col-md-offset-1 signs">
				<h2><span class="fa fa-angle-right fa-2x"></span> Signs</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet placerat sem. Mauris at enim turpis. Integer tempus erat vel purus rhoncus, at sagittis metus placerat. Sed ullamcorper tortor non nulla elementum pharetra. Vestibulum laoreet neque.</p>
			</div>
		</div>
	<div class="row" id="contact">
		<div class="col-md-5 col-md-offset-1 col-sm-12">
			<h1>MAP</h1>
		</div>
		<div class="col-md-5 col-sm-12">
			<form role="form" method="POST" action="">
				{% csrf_token %}
            	{{ form.as_p }}
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}