{% load compress %}
{% load staticfiles %}

{% compress js %}
<script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/prefixfree.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/script.js" %}"></script>
<script type="text/javascript" src="{% static "bower_components/instafeed.js/instafeed.js" %}"></script>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1637640799888263',
      xfbml      : true,
      version    : 'v2.6'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<script type="text/javascript">
	var feed = new Instafeed({
		get: 'tagged',
		tagName: 'imdsandiego',
		clientId: '0ec4125b5acb4984a9ccb860aaeab691'
	});
	feed.run();
</script>
{% endcompress %}
