{% extends 'base.html' %}
{% block head_title %}IMD-SD | Services{% endblock %}
{% block title %}Services{% endblock %}

{% block content %}
{% if category %}
<div class="jumbotron"></div>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			{% endif %}
			{% load staticfiles %}
			<div class="row service-grid">
				{% if services %}
				{% for service in services %}
				<div class="col-md-4 col-sm-6 item-serv">
					<h3>{{ service.title }}</h3>
					{% if service.image %}
					<a href="/services/{{ service.category.slug }}"><img src="{{ service.image.url }}" style="width: 350px"></a>
					{% else %}
					{% endif %}
					<hr>
					<p>{{ service.description }}</p>
					<a href="/services/{{ service.category.slug }}"><i>{{ service.category }}</i></a>
				</div>
				{% endfor %}
				{% endif %}
			</div>
		</div>
	</div>
</div>


{% endblock %}