{% extends 'base.html' %}
{% block head_title %}IMD-SD | Services{% endblock %}
{% block title %}Services{% endblock %}

{% block content %}
{% if category %}
<h3>Categories</h3>
<ul role="tablist">
	{% for cat in category %}
	<li role="presentation"><a herf="#{{ cat.name }}">{{ cat.name }}</a></li>
	{% endfor %}
</ul>
{% endif %}
{% load staticfiles %}
<div class="row">
	{% if services %}
	{% for service in services %}
	<div class="col-md-4">
		<h4>{{ service.title }}</h4>
		{% if service.image %}
			<img src="{{ service.image.url }}" style="width: 350px">
		{% else %}
		{% endif %}
		<p>{{ service.description }}</p>
	</div>
	{% endfor %}
	{% endif %}
</div>

{% endblock %}