{% extends 'base.html' %}
{% block head_title %}IMD-SD | Vehicle Wraps{% endblock %}
{% block title %}{% endblock %}
{% block header_index %}
{% endblock %}
{% block content %}
{% load staticfiles %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 vehicle-header">
            <img src="{% static 'images/logo-wraps.png' %}" class="image-head">
        </div>
    </div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-4 col-lg-offset-1">
			<h1 class="border-bottom-dashed oswald-medium">Vehicle Wraps</h1>
            <p class="text-gray">A wrap is a large vinyl graphic or decal thats applied directly over the original paint of the vehicle. The application of the wrap allows you to change the vehicles appearance in a very short period of time and in turn allows you to remove the wrap, returning the vehicle back to its original condition if necessary.</p>
            <h3 class="oswald-medium">Protecting you paint</h3>
            <p class="text-gray">Your vehicles will inevitably show the signs of clocking up miles on Britain’s motorways. By wrapping your vehicle you can not only enhance your brand, you can also protect your paintwork. We always use matching protective over-laminate with our vehicle wraps, which extends their life and look as well as protecting your paintwork from stone chips and minor abrasions.</p>
            <h3 class="oswald-medium">Professional image</h3>
            <p class="text-gray">Vehicle wrapping and vehicle graphics are a great way of strengthening your brand identity, giving your business a professional image. Your van, car, truck, coach or fleet graphics can be as understated or as spectacular as you wish, with photographic images creating virtually any look or design. What does it say about your business when you have tired looking vehicles on the road?</p>
            <h3 class="oswald-medium">Removabilty of graphics</h3>
            <p class="text-gray">Finally, due to the quality of the vehicle graphics materials we use you will not have problems removing the graphics at the end of the materials lifetime. Inferior vehicle wrapping products may look fine in the short term but they’ll offer you future problems including a lack of removability and damage to paintwork. If you have other concerns about removability feel free to ask.</p>
		</div>
        <div class="col-lg-2 col-md-2 col-sm-4 top-padding">
            <img src="{% static 'images/90%.png' %}">
            <h3 class="oswald-medium text-center">Of travelers notice vehicle wrapped graphics.</h3>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 top-padding">
            <img src="{% static 'images/75%.png' %}">
            <h3 class="oswald-medium text-center">Of consumers form opinions on companies based on fleet graphics.</h3>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 top-padding">
            <img src="{% static 'images/30%.png' %}">
            <h3 class="oswald-medium text-center">Of consumers base buying decisions on impressions they received from company vehicles.</h3>
        </div>
        <div class="col-lg-6 col-md-6">
            <h1 class="border-bottom-dashed oswald-medium text-center">How many people will see my graphic?</h1>
            <img src="{% static 'images/thousand.png' %}" class="img-responsive">
        </div>
        
    </div>
</div>
	<script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
	<script type="text/javascript">
		$(function() {
    		var hash = window.location.hash;

    		// do some validation on the hash here

    		hash && $('ul.nav a[href="' + hash + '"]').tab('show');
    		
    		var list = document.getElementById('vwrap-nav');
    		var listPosition = $('#vwrap-nav').position();

    		if (window.innerWidth > 750) {
    			$(window).scroll(function() {
    				if ($(this).scrollTop() > 680 ) {
    					$('#vwrap-nav').addClass('sticky');
    				}
    				else {
    					$('#vwrap-nav').removeClass('sticky');
    				}
    			})
    		}

    		var timesSeven = 14;
    		var timesEight = 16;
    		$('#partial-range').slider({
    			value: 50,
    			min: 1,
    			max: 100,
    			step: 1,
    			slide: function( event, ui ) {
    				$('#partial-sq').html( ui.value );
    				$('#partial-multiply').html(timesSeven * (ui.value));
    			}
    		});
    		$('#partial-sq').html($('#partial-range').slider("value"));
    		$('#partial-multiply').html(timesSeven * ($('#partial-range').slider("value")));
    		
    		$('#full-range').slider({
    			value: 550,
    			min: 100,
    			max: 1000,
    			step: 1,
    			slide: function( event, ui ) {
    				$('#full-sq').html( ui.value );
    				$('#full-multiply').html(timesSeven * (ui.value));
    			}
    		});
    		$('#full-sq').html($('#full-range').slider("value"));
    		$('#full-multiply').html(timesSeven * ($('#full-range').slider("value")));
    		
    		$('#color-range').slider({
    			value: 50,
    			min: 1,
    			max: 100,
    			step: 1,
    			slide: function( event, ui ) {
    				$('#color-sq').html( ui.value );
    				$('#color-multiply').html(timesEight * (ui.value));
    			}
    		});
    		$('#color-sq').html($('#color-range').slider("value"));
    		$('#color-multiply').html(timesEight * ($('#partial-range').slider("value")));

		});
	</script>

{% endblock %}